<a href="https://colab.research.google.com/github/Leonardo-Dias-Up/Leonardo-Dias-Up/blob/main/An%C3%A1lise_Multivariada_RAIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib as ply

In [2]:
rais_2017 = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/AnaÃÅlise Multivariada /rais-2017.csv', sep=';', encoding='UTF-8')
rais_2017.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,cnae_2,cnae_2_subclasse,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df
0,2017,MG,3100104,0,0,0,NaN,2135,1,1,...,31012,3101200,7,NaN,38540000,NaN,NaN,NaN,NaN,NaN
1,2017,MG,3100104,7,7,0,NaN,2062,3,1,...,79112,7911200,20,NaN,30380380,NaN,NaN,NaN,NaN,NaN
2,2017,MG,3100104,0,0,0,NaN,2135,1,1,...,23915,2391503,2,NaN,38540000,NaN,NaN,NaN,NaN,NaN
3,2017,MG,3100104,0,0,0,NaN,2135,1,1,...,49213,4921302,20,NaN,38540000,NaN,NaN,NaN,NaN,NaN
4,2017,MG,3100104,0,0,0,NaN,2135,1,1,...,49213,4921301,20,NaN,38540000,NaN,NaN,NaN,NaN,NaN

In [3]:
rais_2018 = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/AnaÃÅlise Multivariada /rais-2018.csv', sep=';', encoding='UTF-8')
rais_2018.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,cnae_2,cnae_2_subclasse,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df
0,2018,MG,3100104,2,2,0,NaN,2062,2,1,...,46419,4641901,17,NaN,30190051,NaN,NaN,NaN,NaN,NaN
1,2018,MG,3100104,0,0,0,NaN,2046,1,1,...,64221,6422100,18,NaN,38540000,NaN,NaN,NaN,NaN,NaN
2,2018,MG,3100104,323,72,251,NaN,1031,8,1,...,84116,8411600,24,NaN,38540000,NaN,NaN,NaN,NaN,NaN
3,2018,MG,3100104,0,0,0,NaN,2135,1,1,...,95215,9521500,16,NaN,38540000,NaN,NaN,NaN,NaN,NaN
4,2018,MG,3100104,4,4,0,NaN,2135,2,1,...,95215,9521500,16,NaN,35171133,NaN,NaN,NaN,NaN,NaN

In [4]:
rais_2019 = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/AnaÃÅlise Multivariada /rais-2019.csv', sep=';', encoding='UTF-8')
rais_2019.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,cnae_2,cnae_2_subclasse,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df
0,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,46184,4618499,17,NaN,38540000,NaN,NaN,NaN,NaN,NaN
1,2019,MG,3100104,2,2,0,NaN,2062,2,1,...,75001,7500100,22,NaN,37975000,NaN,NaN,NaN,NaN,NaN
2,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,87204,8720499,21,NaN,38540000,NaN,NaN,NaN,NaN,NaN
3,2019,MG,3100104,12,12,0,NaN,2062,4,1,...,85201,8520100,23,NaN,30880010,NaN,NaN,NaN,NaN,NaN
4,2019,MG,3100104,0,0,0,NaN,4120,1,3,...,1113,111301,25,NaN,38540000,NaN,NaN,NaN,NaN,NaN

In [5]:
rais_2020 = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/AnaÃÅlise Multivariada /rais-2020.csv', sep=';', encoding='UTF-8')
rais_2020.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,cnae_2,cnae_2_subclasse,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df
0,2020,MG,3104205,9,9,0,NaN,2135,3,1,...,81117,8111700,19,NaN,35588000,NaN,NaN,NaN,NaN,NaN
1,2020,MG,3105400,0,0,0,NaN,2062,1,1,...,42995,4299599,15,NaN,35970000,NaN,NaN,NaN,NaN,NaN
2,2020,MG,3106200,0,0,0,NaN,2135,1,1,...,56201,5620101,13,NaN,31710230,NaN,NaN,NaN,NaN,NaN
3,2020,MG,3158953,47,47,0,NaN,2062,5,1,...,10112,1011201,13,NaN,35179000,NaN,NaN,NaN,NaN,NaN
4,2020,MG,3105004,0,0,0,NaN,2062,1,1,...,64913,6491300,18,NaN,35732000,NaN,NaN,NaN,NaN,NaN

In [6]:
micro_meso_reg = pd.read_excel(r'/content/drive/MyDrive/Colab Notebooks/AnaÃÅlise Multivariada /RG2017_micromeso89.xlsx')
micro_meso_reg.columns = ['ID','municipio','id_municipio','sigla_uf','cod_micro','id_micro','cod_meso','id_meso']
micro_meso_reg.head()

,ID,municipio,id_municipio,sigla_uf,cod_micro,id_micro,cod_meso,id_meso
0,1,NORMANDIA,1400407,14,14002,Nordeste de Roraima,1401,Norte de Roraima
1,2,BOA VISTA,1400100,14,14001,Boa Vista,1401,Norte de Roraima
2,3,OIAPOQUE,1600501,16,16001,Oiapoque,1601,Norte do Amap√°
3,4,CALCOENE,1600204,16,16001,Oiapoque,1601,Norte do Amap√°
4,5,ALTO ALEGRE,1400050,14,14001,Boa Vista,1401,Norte de Roraima

In [7]:
# Separando apenas as micro e meso regi√µes de Minas Gerais
micro_meso_reg = micro_meso_reg[(micro_meso_reg['sigla_uf'] == 31)]
micro_meso_reg.head()

,ID,municipio,id_municipio,sigla_uf,cod_micro,id_micro,cod_meso,id_meso
1864,1868,MONTALVANIA,3142700,31,31003,Janu√°ria,3102,Norte de Minas
1867,1871,MANGA,3139300,31,31003,Janu√°ria,3102,Norte de Minas
1889,1893,JANUARIA,3135209,31,31003,Janu√°ria,3102,Norte de Minas
1910,1914,FORMOSO,3126208,31,31001,Una√≠,3101,Noroeste de Minas
1916,1920,ESPINOSA,3124302,31,31004,Jana√∫ba,3102,Norte de Minas

In [8]:
nat_juridica = pd.read_excel(r'/content/drive/MyDrive/Colab Notebooks/AnaÃÅlise Multivariada /ID_Natureza_Juridica.xlsx')
nat_juridica.columns = ['natureza_juridica','desc_natureza_juridica','class_nat_juridica']
nat_juridica.head()

,natureza_juridica,desc_natureza_juridica,class_nat_juridica
0,1015,√ìrg√£o P√∫blico do Poder Executivo Federal,Adm P√∫blica
1,1023,√ìrg√£o P√∫blico do Poder Executivo Estadual ou d...,Administra√ß√£o P√∫blica
2,1031,√ìrg√£o P√∫blico do Poder Executivo Municipal,Administra√ß√£o P√∫blica
3,1040,√ìrg√£o P√∫blico do Poder Legislativo Federal,Administra√ß√£o P√∫blica
4,1058,√ìrg√£o P√∫blico do Poder Legislativo Estadual ou...,Administra√ß√£o P√∫blica

In [9]:
cnae2 = pd.read_excel(r'/content/drive/MyDrive/Colab Notebooks/AnaÃÅlise Multivariada /ID_CNAE20_EstruturaDetalhada.xlsx')
cnae2.columns = ['secao','divisao','grupo','classe','subclasse','id','cnae_2','denominacao']
cnae2.head()

,secao,divisao,grupo,classe,subclasse,id,cnae_2,denominacao
0,"AGRICULTURA, PECU√ÅRIA, PRODU√á√ÉO FLORESTAL, PES...",A,1,"AGRICULTURA, PECU√ÅRIA E SERVI√áOS RELACIONADOS",Produ√ß√£o de lavouras tempor√°rias,1.1,1113,Cultivo de cereais
1,"AGRICULTURA, PECU√ÅRIA, PRODU√á√ÉO FLORESTAL, PES...",A,1,"AGRICULTURA, PECU√ÅRIA E SERVI√áOS RELACIONADOS",Produ√ß√£o de lavouras tempor√°rias,1.1,1121,Cultivo de algod√£o herb√°ceo e de outras fibras...
2,"AGRICULTURA, PECU√ÅRIA, PRODU√á√ÉO FLORESTAL, PES...",A,1,"AGRICULTURA, PECU√ÅRIA E SERVI√áOS RELACIONADOS",Produ√ß√£o de lavouras tempor√°rias,1.1,1130,Cultivo de cana-de-a√ß√∫car
3,"AGRICULTURA, PECU√ÅRIA, PRODU√á√ÉO FLORESTAL, PES...",A,1,"AGRICULTURA, PECU√ÅRIA E SERVI√áOS RELACIONADOS",Produ√ß√£o de lavouras tempor√°rias,1.1,1148,Cultivo de fumo
4,"AGRICULTURA, PECU√ÅRIA, PRODU√á√ÉO FLORESTAL, PES...",A,1,"AGRICULTURA, PECU√ÅRIA E SERVI√áOS RELACIONADOS",Produ√ß√£o de lavouras tempor√°rias,1.1,1156,Cultivo de soja

In [10]:
rais_2019e2020 = pd.concat([rais_2019, rais_2020], join="inner")
rais_2019e2020.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,cnae_2,cnae_2_subclasse,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df
0,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,46184,4618499,17,NaN,38540000,NaN,NaN,NaN,NaN,NaN
1,2019,MG,3100104,2,2,0,NaN,2062,2,1,...,75001,7500100,22,NaN,37975000,NaN,NaN,NaN,NaN,NaN
2,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,87204,8720499,21,NaN,38540000,NaN,NaN,NaN,NaN,NaN
3,2019,MG,3100104,12,12,0,NaN,2062,4,1,...,85201,8520100,23,NaN,30880010,NaN,NaN,NaN,NaN,NaN
4,2019,MG,3100104,0,0,0,NaN,4120,1,3,...,1113,111301,25,NaN,38540000,NaN,NaN,NaN,NaN,NaN

In [11]:
# Separando apenas os dados da RAIS de Minas Gerais
rais_2019e2020 = rais_2019e2020[(rais_2019e2020['sigla_uf'] == 'MG')]
rais_2019e2020.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,cnae_2,cnae_2_subclasse,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df
0,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,46184,4618499,17,NaN,38540000,NaN,NaN,NaN,NaN,NaN
1,2019,MG,3100104,2,2,0,NaN,2062,2,1,...,75001,7500100,22,NaN,37975000,NaN,NaN,NaN,NaN,NaN
2,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,87204,8720499,21,NaN,38540000,NaN,NaN,NaN,NaN,NaN
3,2019,MG,3100104,12,12,0,NaN,2062,4,1,...,85201,8520100,23,NaN,30880010,NaN,NaN,NaN,NaN,NaN
4,2019,MG,3100104,0,0,0,NaN,4120,1,3,...,1113,111301,25,NaN,38540000,NaN,NaN,NaN,NaN,NaN

In [12]:
# Tratando os municipios, micro e mesoregi√µes
rais_2019e2020['id_municipio'] = rais_2019e2020['id_municipio'].astype(int)
micro_meso_reg['id_municipio'] = micro_meso_reg['id_municipio'].astype(int)
df_merged = rais_2019e2020.merge(micro_meso_reg, on='id_municipio')
df_merged.head()

,ano,sigla_uf_x,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,bairros_fortaleza,bairros_rj,regioes_administrativas_df,ID,municipio,sigla_uf_y,cod_micro,id_micro,cod_meso,id_meso
0,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,NaN,NaN,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba
1,2019,MG,3100104,2,2,0,NaN,2062,2,1,...,NaN,NaN,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba
2,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,NaN,NaN,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba
3,2019,MG,3100104,12,12,0,NaN,2062,4,1,...,NaN,NaN,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba
4,2019,MG,3100104,0,0,0,NaN,4120,1,3,...,NaN,NaN,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba

In [38]:
# Tratando as naturezas jur√≠dicas
df_merged['natureza_juridica'] = df_merged['natureza_juridica'].astype(int)
nat_juridica['natureza_juridica'] = nat_juridica['natureza_juridica'].astype(int)
df_merged2 = df_merged.merge(nat_juridica, on='natureza_juridica')
df_merged2.head()

,ano,sigla_uf_x,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,regioes_administrativas_df,ID,municipio,sigla_uf_y,cod_micro,id_micro,cod_meso,id_meso,desc_natureza_juridica,class_nat_juridica
0,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba,Empres√°rio (Individual),Entidades Empresariais
1,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba,Empres√°rio (Individual),Entidades Empresariais
2,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba,Empres√°rio (Individual),Entidades Empresariais
3,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba,Empres√°rio (Individual),Entidades Empresariais
4,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba,Empres√°rio (Individual),Entidades Empresariais

In [39]:
# Tratando os Cnae's
df_merged2['cnae_2'] = df_merged2['cnae_2'].astype(int)
cnae2['cnae_2'] = cnae2['cnae_2'].astype(int)
df_merged3 = df_merged2.merge(cnae2, on='cnae_2')
df_merged3.head()

,ano,sigla_uf_x,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,id_meso,desc_natureza_juridica,class_nat_juridica,secao,divisao,grupo,classe,subclasse,id,denominacao
0,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,Tri√¢ngulo Mineiro - Alto Parana√≠ba,Empres√°rio (Individual),Entidades Empresariais,COM√âRCIO; REPARA√á√ÉO DE VE√çCULOS AUTOMOTORES E ...,G,46,"COM√âRCIO POR ATACADO, EXCETO VE√çCULOS AUTOMOTO...",Representantes comerciais e agentes do com√©rci...,46.1,Representantes comerciais e agentes do com√©rci...
1,2019,MG,3100203,0,0,0,NaN,2135,1,1,...,Central Mineira,Empres√°rio (Individual),Entidades Empresariais,COM√âRCIO; REPARA√á√ÉO DE VE√çCULOS AUTOMOTORES E ...,G,46,"COM√âRCIO POR ATACADO, EXCETO VE√çCULOS AUTOMOTO...",Representantes comerciais e agentes do com√©rci...,46.1,Representantes comerciais e agentes do com√©rci...
2,2019,MG,3100203,0,0,0,NaN,2135,1,1,...,Central Mineira,Empres√°rio (Individual),Entidades Empresariais,COM√âRCIO; REPARA√á√ÉO DE VE√çCULOS AUTOMOTORES E ...,G,46,"COM√âRCIO POR ATACADO, EXCETO VE√çCULOS AUTOMOTO...",Representantes comerciais e agentes do com√©rci...,46.1,Representantes comerciais e agentes do com√©rci...
3,2019,MG,3100203,0,0,0,NaN,2135,1,1,...,Central Mineira,Empres√°rio (Individual),Entidades Empresariais,COM√âRCIO; REPARA√á√ÉO DE VE√çCULOS AUTOMOTORES E ...,G,46,"COM√âRCIO POR ATACADO, EXCETO VE√çCULOS AUTOMOTO...",Representantes comerciais e agentes do com√©rci...,46.1,Representantes comerciais e agentes do com√©rci...
4,2019,MG,3101201,4,4,0,NaN,2135,2,1,...,Sul - Sudoeste de Minas,Empres√°rio (Individual),Entidades Empresariais,COM√âRCIO; REPARA√á√ÉO DE VE√çCULOS AUTOMOTORES E ...,G,46,"COM√âRCIO POR ATACADO, EXCETO VE√çCULOS AUTOMOTO...",Representantes comerciais e agentes do com√©rci...,46.1,Representantes comerciais e agentes do com√©rci...

In [40]:
# An√°lise descritiva da base tratada
df_merged3.to_excel('/content/drive/MyDrive/Colab Notebooks/AnaÃÅlise Multivariada /01. RAIS_Tratada.xlsx')