<a href="https://colab.research.google.com/github/Leonardo-Dias-Up/Leonardo-Dias-Up/blob/main/An%C3%A1lise_Multivariada_RAIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib as ply

In [2]:
rais_2017 = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/Análise Multivariada /rais-2017.csv', sep=';', encoding='UTF-8')
rais_2017.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,cnae_2,cnae_2_subclasse,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df
0,2017,MG,3100104,0,0,0,NaN,2135,1,1,...,31012,3101200,7,NaN,38540000,NaN,NaN,NaN,NaN,NaN
1,2017,MG,3100104,7,7,0,NaN,2062,3,1,...,79112,7911200,20,NaN,30380380,NaN,NaN,NaN,NaN,NaN
2,2017,MG,3100104,0,0,0,NaN,2135,1,1,...,23915,2391503,2,NaN,38540000,NaN,NaN,NaN,NaN,NaN
3,2017,MG,3100104,0,0,0,NaN,2135,1,1,...,49213,4921302,20,NaN,38540000,NaN,NaN,NaN,NaN,NaN
4,2017,MG,3100104,0,0,0,NaN,2135,1,1,...,49213,4921301,20,NaN,38540000,NaN,NaN,NaN,NaN,NaN

In [3]:
rais_2018 = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/Análise Multivariada /rais-2018.csv', sep=';', encoding='UTF-8')
rais_2018.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,cnae_2,cnae_2_subclasse,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df
0,2018,MG,3100104,2,2,0,NaN,2062,2,1,...,46419,4641901,17,NaN,30190051,NaN,NaN,NaN,NaN,NaN
1,2018,MG,3100104,0,0,0,NaN,2046,1,1,...,64221,6422100,18,NaN,38540000,NaN,NaN,NaN,NaN,NaN
2,2018,MG,3100104,323,72,251,NaN,1031,8,1,...,84116,8411600,24,NaN,38540000,NaN,NaN,NaN,NaN,NaN
3,2018,MG,3100104,0,0,0,NaN,2135,1,1,...,95215,9521500,16,NaN,38540000,NaN,NaN,NaN,NaN,NaN
4,2018,MG,3100104,4,4,0,NaN,2135,2,1,...,95215,9521500,16,NaN,35171133,NaN,NaN,NaN,NaN,NaN

In [4]:
rais_2019 = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/Análise Multivariada /rais-2019.csv', sep=';', encoding='UTF-8')
rais_2019.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,cnae_2,cnae_2_subclasse,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df
0,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,46184,4618499,17,NaN,38540000,NaN,NaN,NaN,NaN,NaN
1,2019,MG,3100104,2,2,0,NaN,2062,2,1,...,75001,7500100,22,NaN,37975000,NaN,NaN,NaN,NaN,NaN
2,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,87204,8720499,21,NaN,38540000,NaN,NaN,NaN,NaN,NaN
3,2019,MG,3100104,12,12,0,NaN,2062,4,1,...,85201,8520100,23,NaN,30880010,NaN,NaN,NaN,NaN,NaN
4,2019,MG,3100104,0,0,0,NaN,4120,1,3,...,1113,111301,25,NaN,38540000,NaN,NaN,NaN,NaN,NaN

In [5]:
rais_2020 = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/Análise Multivariada /rais-2020.csv', sep=';', encoding='UTF-8')
rais_2020.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,cnae_2,cnae_2_subclasse,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df
0,2020,MG,3104205,9,9,0,NaN,2135,3,1,...,81117,8111700,19,NaN,35588000,NaN,NaN,NaN,NaN,NaN
1,2020,MG,3105400,0,0,0,NaN,2062,1,1,...,42995,4299599,15,NaN,35970000,NaN,NaN,NaN,NaN,NaN
2,2020,MG,3106200,0,0,0,NaN,2135,1,1,...,56201,5620101,13,NaN,31710230,NaN,NaN,NaN,NaN,NaN
3,2020,MG,3158953,47,47,0,NaN,2062,5,1,...,10112,1011201,13,NaN,35179000,NaN,NaN,NaN,NaN,NaN
4,2020,MG,3105004,0,0,0,NaN,2062,1,1,...,64913,6491300,18,NaN,35732000,NaN,NaN,NaN,NaN,NaN

In [6]:
micro_meso_reg = pd.read_excel(r'/content/drive/MyDrive/Colab Notebooks/Análise Multivariada /RG2017_micromeso89.xlsx')
micro_meso_reg.head()

,"OBJECTID,N,9,0","NOMEMUNICP,C,40","cod_mun,C,50","UF,C,3","codmicro,C,10","nomemicro,C,50","codmeso,C,10","nomemeso,C,50"
0,1,NORMANDIA,1400407,14,14002,Nordeste de Roraima,1401,Norte de Roraima
1,2,BOA VISTA,1400100,14,14001,Boa Vista,1401,Norte de Roraima
2,3,OIAPOQUE,1600501,16,16001,Oiapoque,1601,Norte do Amapá
3,4,CALCOENE,1600204,16,16001,Oiapoque,1601,Norte do Amapá
4,5,ALTO ALEGRE,1400050,14,14001,Boa Vista,1401,Norte de Roraima

In [7]:
nat_juridica = pd.read_excel(r'/content/drive/MyDrive/Colab Notebooks/Análise Multivariada /ID_Natureza_Juridica.xlsx')
nat_juridica.head()

,ID_NATUREZA_JURIDICA,DENOMINACAO,TIPO
0,1015,Órgão Público do Poder Executivo Federal,Adm Pública
1,1023,Órgão Público do Poder Executivo Estadual ou d...,Administração Pública
2,1031,Órgão Público do Poder Executivo Municipal,Administração Pública
3,1040,Órgão Público do Poder Legislativo Federal,Administração Pública
4,1058,Órgão Público do Poder Legislativo Estadual ou...,Administração Pública

In [8]:
cnae2 = pd.read_excel(r'/content/drive/MyDrive/Colab Notebooks/Análise Multivariada /ID_CNAE20_EstruturaDetalhada.xlsx')
cnae2.head()

,Coluna1,Coluna2,Coluna3,Coluna4,Coluna5,Coluna6,Coluna7,Coluna8
0,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",A,1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",Produção de lavouras temporárias,1.1,1113,Cultivo de cereais
1,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",A,1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",Produção de lavouras temporárias,1.1,1121,Cultivo de algodão herbáceo e de outras fibras...
2,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",A,1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",Produção de lavouras temporárias,1.1,1130,Cultivo de cana-de-açúcar
3,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",A,1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",Produção de lavouras temporárias,1.1,1148,Cultivo de fumo
4,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",A,1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",Produção de lavouras temporárias,1.1,1156,Cultivo de soja

In [13]:
rais_2019e2020 = pd.concat([rais_2019, rais_2020], join="inner")
rais_2019e2020.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,cnae_2,cnae_2_subclasse,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df
0,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,46184,4618499,17,NaN,38540000,NaN,NaN,NaN,NaN,NaN
1,2019,MG,3100104,2,2,0,NaN,2062,2,1,...,75001,7500100,22,NaN,37975000,NaN,NaN,NaN,NaN,NaN
2,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,87204,8720499,21,NaN,38540000,NaN,NaN,NaN,NaN,NaN
3,2019,MG,3100104,12,12,0,NaN,2062,4,1,...,85201,8520100,23,NaN,30880010,NaN,NaN,NaN,NaN,NaN
4,2019,MG,3100104,0,0,0,NaN,4120,1,3,...,1113,111301,25,NaN,38540000,NaN,NaN,NaN,NaN,NaN