<a href="https://colab.research.google.com/github/Leonardo-Dias-Up/Leonardo-Dias-Up/blob/main/An%C3%A1lise_Multivariada_RAIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib as ply
# https://www.phylos.net/2020-11-02/analise-fatorial-usando-python/

In [ ]:
rais_2017 = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/AnaÃÅlise Multivariada /rais-2017.csv', sep=';', encoding='UTF-8')
rais_2017.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,cnae_2,cnae_2_subclasse,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df
0,2017,MG,3100104,0,0,0,NaN,2135,1,1,...,31012,3101200,7,NaN,38540000,NaN,NaN,NaN,NaN,NaN
1,2017,MG,3100104,7,7,0,NaN,2062,3,1,...,79112,7911200,20,NaN,30380380,NaN,NaN,NaN,NaN,NaN
2,2017,MG,3100104,0,0,0,NaN,2135,1,1,...,23915,2391503,2,NaN,38540000,NaN,NaN,NaN,NaN,NaN
3,2017,MG,3100104,0,0,0,NaN,2135,1,1,...,49213,4921302,20,NaN,38540000,NaN,NaN,NaN,NaN,NaN
4,2017,MG,3100104,0,0,0,NaN,2135,1,1,...,49213,4921301,20,NaN,38540000,NaN,NaN,NaN,NaN,NaN

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
rais_2018 = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/AnaÃÅlise Multivariada /rais-2018.csv', sep=';', encoding='UTF-8')
rais_2018.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,cnae_2,cnae_2_subclasse,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df
0,2018,MG,3100104,2,2,0,NaN,2062,2,1,...,46419,4641901,17,NaN,30190051,NaN,NaN,NaN,NaN,NaN
1,2018,MG,3100104,0,0,0,NaN,2046,1,1,...,64221,6422100,18,NaN,38540000,NaN,NaN,NaN,NaN,NaN
2,2018,MG,3100104,323,72,251,NaN,1031,8,1,...,84116,8411600,24,NaN,38540000,NaN,NaN,NaN,NaN,NaN
3,2018,MG,3100104,0,0,0,NaN,2135,1,1,...,95215,9521500,16,NaN,38540000,NaN,NaN,NaN,NaN,NaN
4,2018,MG,3100104,4,4,0,NaN,2135,2,1,...,95215,9521500,16,NaN,35171133,NaN,NaN,NaN,NaN,NaN

In [ ]:
rais_2019 = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/AnaÃÅlise Multivariada /rais-2019.csv', sep=';', encoding='UTF-8')
rais_2019.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,cnae_2,cnae_2_subclasse,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df
0,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,46184,4618499,17,NaN,38540000,NaN,NaN,NaN,NaN,NaN
1,2019,MG,3100104,2,2,0,NaN,2062,2,1,...,75001,7500100,22,NaN,37975000,NaN,NaN,NaN,NaN,NaN
2,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,87204,8720499,21,NaN,38540000,NaN,NaN,NaN,NaN,NaN
3,2019,MG,3100104,12,12,0,NaN,2062,4,1,...,85201,8520100,23,NaN,30880010,NaN,NaN,NaN,NaN,NaN
4,2019,MG,3100104,0,0,0,NaN,4120,1,3,...,1113,111301,25,NaN,38540000,NaN,NaN,NaN,NaN,NaN

In [ ]:
rais_2020 = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/AnaÃÅlise Multivariada /rais-2020.csv', sep=';', encoding='UTF-8')
rais_2020.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,cnae_2,cnae_2_subclasse,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df
0,2020,MG,3104205,9,9,0,NaN,2135,3,1,...,81117,8111700,19,NaN,35588000,NaN,NaN,NaN,NaN,NaN
1,2020,MG,3105400,0,0,0,NaN,2062,1,1,...,42995,4299599,15,NaN,35970000,NaN,NaN,NaN,NaN,NaN
2,2020,MG,3106200,0,0,0,NaN,2135,1,1,...,56201,5620101,13,NaN,31710230,NaN,NaN,NaN,NaN,NaN
3,2020,MG,3158953,47,47,0,NaN,2062,5,1,...,10112,1011201,13,NaN,35179000,NaN,NaN,NaN,NaN,NaN
4,2020,MG,3105004,0,0,0,NaN,2062,1,1,...,64913,6491300,18,NaN,35732000,NaN,NaN,NaN,NaN,NaN

In [ ]:
micro_meso_reg = pd.read_excel(r'/content/drive/MyDrive/Colab Notebooks/AnaÃÅlise Multivariada /RG2017_micromeso89.xlsx')
micro_meso_reg.columns = ['ID','municipio','id_municipio','sigla_uf','cod_micro','id_micro','cod_meso','id_meso']
micro_meso_reg.head()

,ID,municipio,id_municipio,sigla_uf,cod_micro,id_micro,cod_meso,id_meso
0,1,NORMANDIA,1400407,14,14002,Nordeste de Roraima,1401,Norte de Roraima
1,2,BOA VISTA,1400100,14,14001,Boa Vista,1401,Norte de Roraima
2,3,OIAPOQUE,1600501,16,16001,Oiapoque,1601,Norte do Amap√°
3,4,CALCOENE,1600204,16,16001,Oiapoque,1601,Norte do Amap√°
4,5,ALTO ALEGRE,1400050,14,14001,Boa Vista,1401,Norte de Roraima

In [ ]:
# Separando apenas as micro e meso regi√µes de Minas Gerais
micro_meso_reg = micro_meso_reg[(micro_meso_reg['sigla_uf'] == 31)]
micro_meso_reg.head()

,ID,municipio,id_municipio,sigla_uf,cod_micro,id_micro,cod_meso,id_meso
1864,1868,MONTALVANIA,3142700,31,31003,Janu√°ria,3102,Norte de Minas
1867,1871,MANGA,3139300,31,31003,Janu√°ria,3102,Norte de Minas
1889,1893,JANUARIA,3135209,31,31003,Janu√°ria,3102,Norte de Minas
1910,1914,FORMOSO,3126208,31,31001,Una√≠,3101,Noroeste de Minas
1916,1920,ESPINOSA,3124302,31,31004,Jana√∫ba,3102,Norte de Minas

In [ ]:
nat_juridica = pd.read_excel(r'/content/drive/MyDrive/Colab Notebooks/AnaÃÅlise Multivariada /ID_Natureza_Juridica.xlsx')
nat_juridica.columns = ['natureza_juridica','desc_natureza_juridica','class_nat_juridica']
nat_juridica.head()

,natureza_juridica,desc_natureza_juridica,class_nat_juridica
0,1015,√ìrg√£o P√∫blico do Poder Executivo Federal,Adm P√∫blica
1,1023,√ìrg√£o P√∫blico do Poder Executivo Estadual ou d...,Administra√ß√£o P√∫blica
2,1031,√ìrg√£o P√∫blico do Poder Executivo Municipal,Administra√ß√£o P√∫blica
3,1040,√ìrg√£o P√∫blico do Poder Legislativo Federal,Administra√ß√£o P√∫blica
4,1058,√ìrg√£o P√∫blico do Poder Legislativo Estadual ou...,Administra√ß√£o P√∫blica

In [ ]:
cnae2 = pd.read_excel(r'/content/drive/MyDrive/Colab Notebooks/AnaÃÅlise Multivariada /ID_CNAE20_EstruturaDetalhada.xlsx')
cnae2.columns = ['secao','divisao','grupo','classe','subclasse','id','cnae_2','denominacao']
cnae2.head()

,secao,divisao,grupo,classe,subclasse,id,cnae_2,denominacao
0,"AGRICULTURA, PECU√ÅRIA, PRODU√á√ÉO FLORESTAL, PES...",A,1,"AGRICULTURA, PECU√ÅRIA E SERVI√áOS RELACIONADOS",Produ√ß√£o de lavouras tempor√°rias,1.1,1113,Cultivo de cereais
1,"AGRICULTURA, PECU√ÅRIA, PRODU√á√ÉO FLORESTAL, PES...",A,1,"AGRICULTURA, PECU√ÅRIA E SERVI√áOS RELACIONADOS",Produ√ß√£o de lavouras tempor√°rias,1.1,1121,Cultivo de algod√£o herb√°ceo e de outras fibras...
2,"AGRICULTURA, PECU√ÅRIA, PRODU√á√ÉO FLORESTAL, PES...",A,1,"AGRICULTURA, PECU√ÅRIA E SERVI√áOS RELACIONADOS",Produ√ß√£o de lavouras tempor√°rias,1.1,1130,Cultivo de cana-de-a√ß√∫car
3,"AGRICULTURA, PECU√ÅRIA, PRODU√á√ÉO FLORESTAL, PES...",A,1,"AGRICULTURA, PECU√ÅRIA E SERVI√áOS RELACIONADOS",Produ√ß√£o de lavouras tempor√°rias,1.1,1148,Cultivo de fumo
4,"AGRICULTURA, PECU√ÅRIA, PRODU√á√ÉO FLORESTAL, PES...",A,1,"AGRICULTURA, PECU√ÅRIA E SERVI√áOS RELACIONADOS",Produ√ß√£o de lavouras tempor√°rias,1.1,1156,Cultivo de soja

In [ ]:
rais_2019e2020 = pd.concat([rais_2019, rais_2020], join="inner")
rais_2019e2020.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,cnae_2,cnae_2_subclasse,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df
0,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,46184,4618499,17,NaN,38540000,NaN,NaN,NaN,NaN,NaN
1,2019,MG,3100104,2,2,0,NaN,2062,2,1,...,75001,7500100,22,NaN,37975000,NaN,NaN,NaN,NaN,NaN
2,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,87204,8720499,21,NaN,38540000,NaN,NaN,NaN,NaN,NaN
3,2019,MG,3100104,12,12,0,NaN,2062,4,1,...,85201,8520100,23,NaN,30880010,NaN,NaN,NaN,NaN,NaN
4,2019,MG,3100104,0,0,0,NaN,4120,1,3,...,1113,111301,25,NaN,38540000,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Separando apenas os dados da RAIS de Minas Gerais
rais_2019e2020 = rais_2019e2020[(rais_2019e2020['sigla_uf'] == 'MG')]
rais_2019e2020.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,cnae_2,cnae_2_subclasse,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df
0,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,46184,4618499,17,NaN,38540000,NaN,NaN,NaN,NaN,NaN
1,2019,MG,3100104,2,2,0,NaN,2062,2,1,...,75001,7500100,22,NaN,37975000,NaN,NaN,NaN,NaN,NaN
2,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,87204,8720499,21,NaN,38540000,NaN,NaN,NaN,NaN,NaN
3,2019,MG,3100104,12,12,0,NaN,2062,4,1,...,85201,8520100,23,NaN,30880010,NaN,NaN,NaN,NaN,NaN
4,2019,MG,3100104,0,0,0,NaN,4120,1,3,...,1113,111301,25,NaN,38540000,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Tratando os municipios, micro e mesoregi√µes
rais_2019e2020['id_municipio'] = rais_2019e2020['id_municipio'].astype(int)
micro_meso_reg['id_municipio'] = micro_meso_reg['id_municipio'].astype(int)
df_merged = rais_2019e2020.merge(micro_meso_reg, on='id_municipio')
df_merged.head()

,ano,sigla_uf_x,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,bairros_fortaleza,bairros_rj,regioes_administrativas_df,ID,municipio,sigla_uf_y,cod_micro,id_micro,cod_meso,id_meso
0,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,NaN,NaN,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba
1,2019,MG,3100104,2,2,0,NaN,2062,2,1,...,NaN,NaN,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba
2,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,NaN,NaN,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba
3,2019,MG,3100104,12,12,0,NaN,2062,4,1,...,NaN,NaN,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba
4,2019,MG,3100104,0,0,0,NaN,4120,1,3,...,NaN,NaN,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba

In [ ]:
# Tratando as naturezas jur√≠dicas
df_merged['natureza_juridica'] = df_merged['natureza_juridica'].astype(int)
nat_juridica['natureza_juridica'] = nat_juridica['natureza_juridica'].astype(int)
df_merged2 = df_merged.merge(nat_juridica, on='natureza_juridica')
df_merged2.head()

,ano,sigla_uf_x,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,regioes_administrativas_df,ID,municipio,sigla_uf_y,cod_micro,id_micro,cod_meso,id_meso,desc_natureza_juridica,class_nat_juridica
0,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba,Empres√°rio (Individual),Entidades Empresariais
1,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba,Empres√°rio (Individual),Entidades Empresariais
2,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba,Empres√°rio (Individual),Entidades Empresariais
3,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba,Empres√°rio (Individual),Entidades Empresariais
4,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patroc√≠nio,3105,Tri√¢ngulo Mineiro - Alto Parana√≠ba,Empres√°rio (Individual),Entidades Empresariais

In [ ]:
# Tratando os Cnae's
df_merged2['cnae_2'] = df_merged2['cnae_2'].astype(int)
cnae2['cnae_2'] = cnae2['cnae_2'].astype(int)
df_merged3 = df_merged2.merge(cnae2, on='cnae_2')
df_merged3.head()

,ano,sigla_uf_x,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,id_meso,desc_natureza_juridica,class_nat_juridica,secao,divisao,grupo,classe,subclasse,id,denominacao
0,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,Tri√¢ngulo Mineiro - Alto Parana√≠ba,Empres√°rio (Individual),Entidades Empresariais,COM√âRCIO; REPARA√á√ÉO DE VE√çCULOS AUTOMOTORES E ...,G,46,"COM√âRCIO POR ATACADO, EXCETO VE√çCULOS AUTOMOTO...",Representantes comerciais e agentes do com√©rci...,46.1,Representantes comerciais e agentes do com√©rci...
1,2019,MG,3100203,0,0,0,NaN,2135,1,1,...,Central Mineira,Empres√°rio (Individual),Entidades Empresariais,COM√âRCIO; REPARA√á√ÉO DE VE√çCULOS AUTOMOTORES E ...,G,46,"COM√âRCIO POR ATACADO, EXCETO VE√çCULOS AUTOMOTO...",Representantes comerciais e agentes do com√©rci...,46.1,Representantes comerciais e agentes do com√©rci...
2,2019,MG,3100203,0,0,0,NaN,2135,1,1,...,Central Mineira,Empres√°rio (Individual),Entidades Empresariais,COM√âRCIO; REPARA√á√ÉO DE VE√çCULOS AUTOMOTORES E ...,G,46,"COM√âRCIO POR ATACADO, EXCETO VE√çCULOS AUTOMOTO...",Representantes comerciais e agentes do com√©rci...,46.1,Representantes comerciais e agentes do com√©rci...
3,2019,MG,3100203,0,0,0,NaN,2135,1,1,...,Central Mineira,Empres√°rio (Individual),Entidades Empresariais,COM√âRCIO; REPARA√á√ÉO DE VE√çCULOS AUTOMOTORES E ...,G,46,"COM√âRCIO POR ATACADO, EXCETO VE√çCULOS AUTOMOTO...",Representantes comerciais e agentes do com√©rci...,46.1,Representantes comerciais e agentes do com√©rci...
4,2019,MG,3101201,4,4,0,NaN,2135,2,1,...,Sul - Sudoeste de Minas,Empres√°rio (Individual),Entidades Empresariais,COM√âRCIO; REPARA√á√ÉO DE VE√çCULOS AUTOMOTORES E ...,G,46,"COM√âRCIO POR ATACADO, EXCETO VE√çCULOS AUTOMOTO...",Representantes comerciais e agentes do com√©rci...,46.1,Representantes comerciais e agentes do com√©rci...

In [ ]:
# An√°lise descritiva da base tratada
#df_merged3.to_excel('/content/drive/MyDrive/Colab Notebooks/AnaÃÅlise Multivariada /01. RAIS_Tratada.xlsx')

In [ ]:
subsetor_list = df_merged3.subsetor_ibge.unique()
subsetor_list

array([17, 21, 20, 16,  3,  7,  1,  2, 11,  6,  4, 18, 13, 25, 22,  8,  9,
       19, 15, 23, 10,  5, 12, 14, 24])

Tabela - 1

In [74]:
tabela1 = rais_2019.subsetor_ibge.value_counts()
tabela1 = pd.DataFrame(tabela1)
tabela1 = tabela1.reset_index()
tabela1.columns = ['index', 'subetor_rais2019']
tabela1.sort_values('index')
tabela1_2019 = tabela1
tabela1_2019

    index  subetor_rais2019
0      19              3880
1      21              3015
2      17              2699
3      16              1786
4      25              1709
5      13              1557
6      20              1508
7      15              1414
8      18              1363
9       3               759
10     23               605
11     22               571
12      7               474
13      2               453
14      8               428
15      1               424
16      9               416
17      4               348
18     11               265
19     14               264
20     24               251
21     10               246
22     12               131
23      5                95
24      6                74

In [75]:
tabela1 = rais_2020.subsetor_ibge.value_counts()
tabela1 = pd.DataFrame(tabela1)
tabela1 = tabela1.reset_index()
tabela1.columns = ['index', 'subetor_rais2020']
tabela1.sort_values('index')
tabela1_2020 = tabela1
tabela1_2020

    index  subetor_rais2020
0      19              3434
1      21              2882
2      17              2763
3      16              2158
4      13              1595
5      25              1574
6      20              1533
7      15              1361
8      18              1279
9       3               837
10     22               587
11     23               578
12      7               550
13      2               475
14      1               432
15      4               413
16     11               396
17      8               392
18      9               352
19     10               294
20     14               244
21     24               230
22     12               182
23      5               120
24      6                75

In [66]:
subsetor_ibge = pd.read_excel(r'/content/drive/MyDrive/Colab Notebooks/AnaÃÅlise Multivariada /ID_Subsetor_IBGE.xlsx')
subsetor_ibge.columns = ['index', 'subsetor', 'desc']
subsetor_ibge.head()
subsetor_ibge

    index       subsetor                                               desc
0       1   EXTR MINERAL                               EXTRACAO DE MINERAIS
1       2    MIN NAO MET       INDUSTRIA DE PRODUTOS MINERAIS NAO METALICOS
2       3      IND METAL                              INDUSTRIA METALURGICA
3       4   IND MECANICA                                 INDUSTRIA MECANICA
4       5   ELET E COMUN   INDUSTRIA DO MATERIAL ELETRICO E DE COMUNICACOES
5       6     MAT TRANSP                INDUSTRIA DO MATERIAL DE TRANSPORTE
6       7    MAD E MOBIL               INDUSTRIA DA MADEIRA E DO MOBILIARIO
7       8   PAPEL E GRAF   INDUSTRIA DO PAPEL, PAPELAO, EDITORIAL E GRAFICA
8       9   BOR FUN COUR  IND. DA BORRACHA, DO FUMO, DE COUROS, PELES E ...
9      10    IND QUIMICA  IND. QUIM., DE PROD. FARM., VETER., DE PERF., ...
10     11     IND TEXTIL  INDUSTRIA TEXTIL, DO VESTUARIO E ARTEFATOS DE ...
11     12   IND CALCADOS                              INDUSTRIA DE CALCADOS
12     13     ALIM E BEB  INDUSTRIA DE PROD. ALIMENTICIOS, DE BEBIDAS E ...
13     14  SERV UTIL PUB          SERVICOS INDUSTRIAIS DE UTILIDADE PUBLICA
14     15   CONSTR CIVIL                                   CONSTRUCAO CIVIL
15     16      COM VAREJ                                 COMERCIO VAREJISTA
16     17     COM ATACAD                                COMERCIO ATACADISTA
17     18    INST FINANC  INSTITUICOES DE CREDITO, SEGUROS E DE CAPITALI...
18     19   ADM TEC PROF  COM,ADM.IMOV,VAL.MOB,SERV.TECN-PROF,AUX.ATIV.E...
19     20   TRAN E COMUN                          TRANSPORTE E COMUNICACOES
20     21   ALOJ COMUNIC  SERV.ALOJ, ALIM,REP,MANUT,RES, DOMIC,DIVERS,RA...
21     22   MED ODON VET     SERVICOS MEDICOS, ODONTOLOGICOS E VETERINARIOS
22     23         ENSINO                                             ENSINO
23     24    ADM PUBLICA                   ADM. PUBLICA DIRETA E AUTARQUICA
24     25    AGRICULTURA  AGRIC., SILVICULTURA, CRIACAO DE ANIM., EXTR.V...
25     26         OUTROS                                             OUTROS

In [80]:
tabela1_2019['index'] = tabela1_2019['index'].astype(int)
tabela1_2020['index'] = tabela1_2020['index'].astype(int)
subsetor_ibge['index'] = subsetor_ibge['index'].astype(int)
tabela = tabela1_2019.merge(subsetor_ibge, on='index')
tabela = tabela1_2020.merge(tabela, on='index')

tabela = tabela.sort_values('index')
tabela

,index,subetor_rais2020,subetor_rais2019,subsetor,desc
14,1,432,424,EXTR MINERAL,EXTRACAO DE MINERAIS
13,2,475,453,MIN NAO MET,INDUSTRIA DE PRODUTOS MINERAIS NAO METALICOS
9,3,837,759,IND METAL,INDUSTRIA METALURGICA
15,4,413,348,IND MECANICA,INDUSTRIA MECANICA
23,5,120,95,ELET E COMUN,INDUSTRIA DO MATERIAL ELETRICO E DE COMUNICACOES
24,6,75,74,MAT TRANSP,INDUSTRIA DO MATERIAL DE TRANSPORTE
12,7,550,474,MAD E MOBIL,INDUSTRIA DA MADEIRA E DO MOBILIARIO
17,8,392,428,PAPEL E GRAF,"INDUSTRIA DO PAPEL, PAPELAO, EDITORIAL E GRAFICA"
18,9,352,416,BOR FUN COUR,"IND. DA BORRACHA, DO FUMO, DE COUROS, PELES E ..."
19,10,294,246,IND QUIMICA,"IND. QUIM., DE PROD. FARM., VETER., DE PERF., ..."
16,11,396,265,IND TEXTIL,"INDUSTRIA TEXTIL, DO VESTUARIO E ARTEFATOS DE ..."
22,12,182,131,IND CALCADOS,INDUSTRIA DE CALCADOS
4,13,1595,1557,ALIM E BEB,"INDUSTRIA DE PROD. ALIMENTICIOS, DE BEBIDAS E ..."
20,14,244,264,SERV UTIL PUB,SERVICOS INDUSTRIAIS DE UTILIDADE PUBLICA
7,15,1361,1414,CONSTR CIVIL,CONSTRUCAO CIVIL
3,16,2158,1786,COM VAREJ,COMERCIO VAREJISTA
2,17,2763,2699,COM ATACAD,COMERCIO ATACADISTA
8,18,1279,1363,INST FINANC,"INSTITUICOES DE CREDITO, SEGUROS E DE CAPITALI..."
0,19,3434,3880,ADM TEC PROF,"COM,ADM.IMOV,VAL.MOB,SERV.TECN-PROF,AUX.ATIV.E..."
6,20,1533,1508,TRAN E COMUN,TRANSPORTE E COMUNICACOES
1,21,2882,3015,ALOJ COMUNIC,"SERV.ALOJ, ALIM,REP,MANUT,RES, DOMIC,DIVERS,RA..."
10,22,587,571,MED ODON VET,"SERVICOS MEDICOS, ODONTOLOGICOS E VETERINARIOS"
11,23,578,605,ENSINO,ENSINO
21,24,230,251,ADM PUBLICA,ADM. PUBLICA DIRETA E AUTARQUICA
5,25,1574,1709,AGRICULTURA,"AGRIC., SILVICULTURA, CRIACAO DE ANIM., EXTR.V..."

In [85]:
tabela['var(%)'] = (tabela.subetor_rais2020/tabela.subetor_rais2019) - 1
tabela['var_abs'] = tabela.subetor_rais2020 - tabela.subetor_rais2019

,index,subetor_rais2020,subetor_rais2019,subsetor,desc,var(%),var_abs
14,1,432,424,EXTR MINERAL,EXTRACAO DE MINERAIS,0.018868,8
13,2,475,453,MIN NAO MET,INDUSTRIA DE PRODUTOS MINERAIS NAO METALICOS,0.048565,22
9,3,837,759,IND METAL,INDUSTRIA METALURGICA,0.102767,78
15,4,413,348,IND MECANICA,INDUSTRIA MECANICA,0.186782,65
23,5,120,95,ELET E COMUN,INDUSTRIA DO MATERIAL ELETRICO E DE COMUNICACOES,0.263158,25
24,6,75,74,MAT TRANSP,INDUSTRIA DO MATERIAL DE TRANSPORTE,0.013514,1
12,7,550,474,MAD E MOBIL,INDUSTRIA DA MADEIRA E DO MOBILIARIO,0.160338,76
17,8,392,428,PAPEL E GRAF,"INDUSTRIA DO PAPEL, PAPELAO, EDITORIAL E GRAFICA",-0.084112,-36
18,9,352,416,BOR FUN COUR,"IND. DA BORRACHA, DO FUMO, DE COUROS, PELES E ...",-0.153846,-64
19,10,294,246,IND QUIMICA,"IND. QUIM., DE PROD. FARM., VETER., DE PERF., ...",0.195122,48
16,11,396,265,IND TEXTIL,"INDUSTRIA TEXTIL, DO VESTUARIO E ARTEFATOS DE ...",0.494340,131
22,12,182,131,IND CALCADOS,INDUSTRIA DE CALCADOS,0.389313,51
4,13,1595,1557,ALIM E BEB,"INDUSTRIA DE PROD. ALIMENTICIOS, DE BEBIDAS E ...",0.024406,38
20,14,244,264,SERV UTIL PUB,SERVICOS INDUSTRIAIS DE UTILIDADE PUBLICA,-0.075758,-20
7,15,1361,1414,CONSTR CIVIL,CONSTRUCAO CIVIL,-0.037482,-53
3,16,2158,1786,COM VAREJ,COMERCIO VAREJISTA,0.208287,372
2,17,2763,2699,COM ATACAD,COMERCIO ATACADISTA,0.023712,64
8,18,1279,1363,INST FINANC,"INSTITUICOES DE CREDITO, SEGUROS E DE CAPITALI...",-0.061629,-84
0,19,3434,3880,ADM TEC PROF,"COM,ADM.IMOV,VAL.MOB,SERV.TECN-PROF,AUX.ATIV.E...",-0.114948,-446
6,20,1533,1508,TRAN E COMUN,TRANSPORTE E COMUNICACOES,0.016578,25
1,21,2882,3015,ALOJ COMUNIC,"SERV.ALOJ, ALIM,REP,MANUT,RES, DOMIC,DIVERS,RA...",-0.044113,-133
10,22,587,571,MED ODON VET,"SERVICOS MEDICOS, ODONTOLOGICOS E VETERINARIOS",0.028021,16
11,23,578,605,ENSINO,ENSINO,-0.044628,-27
21,24,230,251,ADM PUBLICA,ADM. PUBLICA DIRETA E AUTARQUICA,-0.083665,-21
5,25,1574,1709,AGRICULTURA,"AGRIC., SILVICULTURA, CRIACAO DE ANIM., EXTR.V...",-0.078994,-135

In [89]:
media_2019_subsetor = tabela['subetor_rais2019'].mean()
media_2020_subsetor = tabela['subetor_rais2020'].mean()
print(media_2020_subsetor, media_2019_subsetor)

989.44 989.4

In [94]:
media1 =  (media_2020_subsetor/media_2019_subsetor - 1)

In [105]:
media2019_maior = tabela[(tabela['var(%)'] > media1)]
media2019_menor = tabela[(tabela['var(%)'] < media1)]
media2019_maior
media2019_menor

,index,subetor_rais2020,subetor_rais2019,subsetor,desc,var(%),var_abs
17,8,392,428,PAPEL E GRAF,"INDUSTRIA DO PAPEL, PAPELAO, EDITORIAL E GRAFICA",-0.084112,-36
18,9,352,416,BOR FUN COUR,"IND. DA BORRACHA, DO FUMO, DE COUROS, PELES E ...",-0.153846,-64
20,14,244,264,SERV UTIL PUB,SERVICOS INDUSTRIAIS DE UTILIDADE PUBLICA,-0.075758,-20
7,15,1361,1414,CONSTR CIVIL,CONSTRUCAO CIVIL,-0.037482,-53
8,18,1279,1363,INST FINANC,"INSTITUICOES DE CREDITO, SEGUROS E DE CAPITALI...",-0.061629,-84
0,19,3434,3880,ADM TEC PROF,"COM,ADM.IMOV,VAL.MOB,SERV.TECN-PROF,AUX.ATIV.E...",-0.114948,-446
1,21,2882,3015,ALOJ COMUNIC,"SERV.ALOJ, ALIM,REP,MANUT,RES, DOMIC,DIVERS,RA...",-0.044113,-133
11,23,578,605,ENSINO,ENSINO,-0.044628,-27
21,24,230,251,ADM PUBLICA,ADM. PUBLICA DIRETA E AUTARQUICA,-0.083665,-21
5,25,1574,1709,AGRICULTURA,"AGRIC., SILVICULTURA, CRIACAO DE ANIM., EXTR.V...",-0.078994,-135