<a href="https://colab.research.google.com/github/Leonardo-Dias-Up/Leonardo-Dias-Up/blob/main/An%C3%A1lise_Multivariada_RAIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib as ply

In [ ]:
rais_2017 = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/Análise Multivariada /rais-2017.csv', sep=';', encoding='UTF-8')
rais_2017.head()

In [ ]:
rais_2018 = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/Análise Multivariada /rais-2018.csv', sep=';', encoding='UTF-8')
rais_2018.head()

In [ ]:
rais_2019 = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/Análise Multivariada /rais-2019.csv', sep=';', encoding='UTF-8')
rais_2019.head()

In [ ]:
rais_2020 = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/Análise Multivariada /rais-2020.csv', sep=';', encoding='UTF-8')
rais_2020.head()

In [57]:
micro_meso_reg = pd.read_excel(r'/content/drive/MyDrive/Colab Notebooks/Análise Multivariada /RG2017_micromeso89.xlsx')
micro_meso_reg.columns = ['ID','municipio','id_municipio','sigla_uf','cod_micro','id_micro','cod_meso','id_meso']
micro_meso_reg.head()

,ID,municipio,id_municipio,sigla_uf,cod_micro,id_micro,cod_meso,id_meso
0,1,NORMANDIA,1400407,14,14002,Nordeste de Roraima,1401,Norte de Roraima
1,2,BOA VISTA,1400100,14,14001,Boa Vista,1401,Norte de Roraima
2,3,OIAPOQUE,1600501,16,16001,Oiapoque,1601,Norte do Amapá
3,4,CALCOENE,1600204,16,16001,Oiapoque,1601,Norte do Amapá
4,5,ALTO ALEGRE,1400050,14,14001,Boa Vista,1401,Norte de Roraima

In [58]:
# Separando apenas as micro e meso regiões de Minas Gerais
micro_meso_reg = micro_meso_reg[(micro_meso_reg['sigla_uf'] == 31)]
micro_meso_reg.head()

,ID,municipio,id_municipio,sigla_uf,cod_micro,id_micro,cod_meso,id_meso
1864,1868,MONTALVANIA,3142700,31,31003,Januária,3102,Norte de Minas
1867,1871,MANGA,3139300,31,31003,Januária,3102,Norte de Minas
1889,1893,JANUARIA,3135209,31,31003,Januária,3102,Norte de Minas
1910,1914,FORMOSO,3126208,31,31001,Unaí,3101,Noroeste de Minas
1916,1920,ESPINOSA,3124302,31,31004,Janaúba,3102,Norte de Minas

In [64]:
nat_juridica = pd.read_excel(r'/content/drive/MyDrive/Colab Notebooks/Análise Multivariada /ID_Natureza_Juridica.xlsx')
nat_juridica.columns = ['natureza_juridica','desc_natureza_juridica','class_nat_juridica']
nat_juridica.head()

,natureza_juridica,desc_natureza_juridica,class_nat_juridica
0,1015,Órgão Público do Poder Executivo Federal,Adm Pública
1,1023,Órgão Público do Poder Executivo Estadual ou d...,Administração Pública
2,1031,Órgão Público do Poder Executivo Municipal,Administração Pública
3,1040,Órgão Público do Poder Legislativo Federal,Administração Pública
4,1058,Órgão Público do Poder Legislativo Estadual ou...,Administração Pública

In [52]:
cnae2 = pd.read_excel(r'/content/drive/MyDrive/Colab Notebooks/Análise Multivariada /ID_CNAE20_EstruturaDetalhada.xlsx')
cnae2.head()

,Coluna1,Coluna2,Coluna3,Coluna4,Coluna5,Coluna6,Coluna7,Coluna8
0,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",A,1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",Produção de lavouras temporárias,1.1,1113,Cultivo de cereais
1,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",A,1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",Produção de lavouras temporárias,1.1,1121,Cultivo de algodão herbáceo e de outras fibras...
2,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",A,1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",Produção de lavouras temporárias,1.1,1130,Cultivo de cana-de-açúcar
3,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",A,1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",Produção de lavouras temporárias,1.1,1148,Cultivo de fumo
4,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",A,1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",Produção de lavouras temporárias,1.1,1156,Cultivo de soja

In [60]:
rais_2019e2020 = pd.concat([rais_2019, rais_2020], join="inner")
rais_2019e2020.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,cnae_2,cnae_2_subclasse,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df
0,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,46184,4618499,17,NaN,38540000,NaN,NaN,NaN,NaN,NaN
1,2019,MG,3100104,2,2,0,NaN,2062,2,1,...,75001,7500100,22,NaN,37975000,NaN,NaN,NaN,NaN,NaN
2,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,87204,8720499,21,NaN,38540000,NaN,NaN,NaN,NaN,NaN
3,2019,MG,3100104,12,12,0,NaN,2062,4,1,...,85201,8520100,23,NaN,30880010,NaN,NaN,NaN,NaN,NaN
4,2019,MG,3100104,0,0,0,NaN,4120,1,3,...,1113,111301,25,NaN,38540000,NaN,NaN,NaN,NaN,NaN

In [61]:
# Separando apenas os dados da RAIS de Minas Gerais
rais_2019e2020 = rais_2019e2020[(rais_2019e2020['sigla_uf'] == 'MG')]
rais_2019e2020.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,cnae_2,cnae_2_subclasse,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df
0,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,46184,4618499,17,NaN,38540000,NaN,NaN,NaN,NaN,NaN
1,2019,MG,3100104,2,2,0,NaN,2062,2,1,...,75001,7500100,22,NaN,37975000,NaN,NaN,NaN,NaN,NaN
2,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,87204,8720499,21,NaN,38540000,NaN,NaN,NaN,NaN,NaN
3,2019,MG,3100104,12,12,0,NaN,2062,4,1,...,85201,8520100,23,NaN,30880010,NaN,NaN,NaN,NaN,NaN
4,2019,MG,3100104,0,0,0,NaN,4120,1,3,...,1113,111301,25,NaN,38540000,NaN,NaN,NaN,NaN,NaN

In [62]:
# Tratando os municipios, micro e mesoregiões
rais_2019e2020['id_municipio'] = rais_2019e2020['id_municipio'].astype(int)
micro_meso_reg['id_municipio'] = micro_meso_reg['id_municipio'].astype(int)
df_merged = rais_2019e2020.merge(micro_meso_reg, on='id_municipio')
df_merged.head()

,ano,sigla_uf_x,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,bairros_fortaleza,bairros_rj,regioes_administrativas_df,ID,municipio,sigla_uf_y,cod_micro,id_micro,cod_meso,id_meso
0,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,NaN,NaN,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patrocínio,3105,Triângulo Mineiro - Alto Paranaíba
1,2019,MG,3100104,2,2,0,NaN,2062,2,1,...,NaN,NaN,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patrocínio,3105,Triângulo Mineiro - Alto Paranaíba
2,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,NaN,NaN,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patrocínio,3105,Triângulo Mineiro - Alto Paranaíba
3,2019,MG,3100104,12,12,0,NaN,2062,4,1,...,NaN,NaN,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patrocínio,3105,Triângulo Mineiro - Alto Paranaíba
4,2019,MG,3100104,0,0,0,NaN,4120,1,3,...,NaN,NaN,NaN,2287,ABADIA DOS DOURADOS,31,31019,Patrocínio,3105,Triângulo Mineiro - Alto Paranaíba

In [65]:
# Tratando as naturezas jurídicas
rais_2019e2020['natureza_juridica'] = rais_2019e2020['natureza_juridica'].astype(int)
nat_juridica['natureza_juridica'] = nat_juridica['natureza_juridica'].astype(int)
df_merged2 = rais_2019e2020.merge(nat_juridica, on='natureza_juridica')
df_merged2.head()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,natureza,natureza_juridica,tamanho,tipo,...,subsetor_ibge,subatividade_ibge,cep,bairros_sp,distritos_sp,bairros_fortaleza,bairros_rj,regioes_administrativas_df,desc_natureza_juridica,class_nat_juridica
0,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,17,NaN,38540000,NaN,NaN,NaN,NaN,NaN,Empresário (Individual),Entidades Empresariais
1,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,21,NaN,38540000,NaN,NaN,NaN,NaN,NaN,Empresário (Individual),Entidades Empresariais
2,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,20,NaN,32450000,NaN,NaN,NaN,NaN,NaN,Empresário (Individual),Entidades Empresariais
3,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,16,NaN,38540000,NaN,NaN,NaN,NaN,NaN,Empresário (Individual),Entidades Empresariais
4,2019,MG,3100104,0,0,0,NaN,2135,1,1,...,3,NaN,38540000,NaN,NaN,NaN,NaN,NaN,Empresário (Individual),Entidades Empresariais